*{

	margin: 0;
	padding: 0;

}

.nav{
	margin: auto;
  text-align: center;
  font-family: fantasy;
  width: 100%;
  font-size: : 20px;
}

.nav ul {
  background: #3498db;
  list-style: none;
  position: relative;
  display: inline-table;
  width: 100%;

}

.nav ul li{
  float: left;
}

.nav ul li: hover{
 background: #3498db;
}

.nav  ul li: hover a{
  color: snow;
}

.nav  ul li a{
  display: black;
  padding: 25px;
  color : gray;
  text-decoration: none:;
}